In [2]:
import pandas as pd
import numpy as np
np.random.seed(0)

# Exercício 1

1. Crie uma Series com os valores de 25 a 1405, de 2 em 2 - ex: [25, 27, 29, ... ,1405]

2. Verifique qual é o seu centésimo elemento. Lembrar que o index default começa em 0

3. Verifique que ela contém o valor 1231

# Exercício 2

1. Verifique o valor para o index Z
2. Gere uma Series contendo os valores para os indíces a, b, Z, t, x, nessa ordem
3. Gere uma Series contendo os valores nas posições 2, 44, 13, 9, nessa ordem
4. Gere uma Series contendo os valores para os indíces de 'a' a 't'
5. Gere uma Series contendo todos os valores a partir do K, inclusive

In [31]:
s = pd.Series(data=range(65, 123), index=(chr(x) for x in range(65, 123)))

s.head()

A    65
B    66
C    67
D    68
E    69
dtype: int64

# Exercício 3

A Series **s** contém temperaturas em celsius.

1. Gere uma Series com os valores em fahrenheit. F = C*1.8 + 32
2. Gere uma Series contendo, para cada posição, True se o valor da temperatura em fahrenheit for menor que 50, False caso contrário
3. Gere uma Series com os valores em fahrenheit multiplicados pelos respectivos valores em **z**
4. Gere uma Series contendo apenas os valores em fahrenheit menores que 30

In [10]:
s = pd.Series(range(-30, 90))
z = pd.Series(np.random.randn(len(s)))

# Exercício 4

As Series **jan** e **fev** contêm informações sobre remuneração nos meses janeiro e fevereiro, respectivamente.

1. Gere uma Series contendo a soma das remunerações nos dois meses. Caso só exista remuneração em apenas um mês, o resultado deverá ser NaN.
2. Gere uma Series contendo a soma das remunerações nos dois meses. Caso só exista remuneração em apenas um mês, o resultado deverá ser o valor nele. Olhar o método .add
2. Calcule a soma de remunerações de janeiro e a soma de remunerações de fevereiro.
3. Verifique qual mês possui a maior média de remuneração.

In [11]:
jan = pd.Series(data=[10000, 3000, 4000],
                index=["abe", "ze", "leo"])
fev = pd.Series(data=[2000, 1000, 40000],
                index=["abe", "leo", "francisco"])

# Exercício 5

Utilizando o dataframe df

1. Gere uma nova coluna contendo o IMC. IMC = peso / altura^2
2. Gere um novo dataframe contendo apenas aqueles cujo IMC é menor que 30

In [8]:
df = pd.DataFrame({"nome": ["abelardo", "adornildo", "josino", "mariana"],
                   "altura": [1.71, 1.92, 1.7, 1.61],
                   "peso": [80, 120, 75, 45]})

df = df.set_index("nome")
df

           altura  peso
nome
abelardo     1.71    80
adornildo    1.92   120
josino       1.70    75
mariana      1.61    45

Utilizando o dataframe m

1. Gere um dataframe contendo a soma de suas colunas
2. Identifique quais 2 colunas possuem maior soma
3. Gere um dataframe contendo a soma de suas linhas
4. Identifique quais 2 linhas possuem menor soma

Para a identificação das colunas/linhas com maiores/menores somas, ver:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.nlargest.html

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.nsmallest.html

In [10]:
m = pd.DataFrame(np.random.randint(0, 1000, 1000).reshape(40, 25))

m.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,684,559,629,192,835,763,707,359,9,723,...,472,600,396,314,705,486,551,87,174,600
1,849,677,537,845,72,777,916,115,976,755,...,99,984,177,755,797,659,147,910,423,288
2,961,265,697,639,544,543,714,244,151,675,...,802,128,128,932,53,901,550,488,756,273
3,335,388,617,42,442,543,888,257,321,999,...,779,430,82,91,896,398,611,565,908,633
4,938,84,203,324,774,964,47,639,131,972,...,227,954,791,719,909,373,853,560,305,581

# Exercício 6

Para o dataframe df

1. Gere um novo dataframe contendo apenas os registros cujo NOME seja UNIVERSIDADE FEDERAL DO CEARA
2. Calcule a soma de VALOR (R$) do dataframe gerado em 1.

In [14]:
df = pd.read_csv("2017 - 19-02.csv", thousands=".", decimal=",")

df.head()

,CNPJ,NOME,PROJETO,DATA,VALOR (R$)
0,***.00.000/****-90,BANCO DO BRASIL SA,0101 - FCPC,13/01/2017,6694.90
1,***.00.071/****-21,LUREX DISTRIBUIDORA DE BATERIAS LTDA,0101 - FCPC,06/01/2017,453.00
2,***.00.125/****-52,BONTEMPO REFRIGERACAO LTDA,3224 - TC SMART/UFC/FCPC - DESENVOLVIMENTO DE ...,03/01/2017,1360.00
3,***.00.204/****-20,NONO TABELIONATO DE NOTAS,0101 - FCPC,01/02/2017,396.27
4,***.00.204/****-20,NONO TABELIONATO DE NOTAS,0101 - FCPC,02/01/2017,24.81

# Exercício 7

function

sort