In [2]:
import pandas as pd

### Instanciando

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series

**dtypes**:
* int8, int16, int32, int64
* uint8, uint16, uint32, uint64
* float16, float32, float64, float128
* complex 64, 128, 256
* bool
* object
* string
* unicode

In [ ]:
s = pd.Series({"z": 10, "b": 30}) # ordem natural da key

s

In [ ]:
s = pd.Series({"z": 10, 
               "b": 30,
               "a": 45,
               "x": 4}, index=['z', 'b', 'a', 'x'])

s

# Ranking

In [3]:
s = pd.Series([6, -2, 6, 3, 1, 0, 3])

s

0    6
1   -2
2    6
3    3
4    1
5    0
6    3
dtype: int64

In [4]:
s.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [5]:
s.rank(method='first') # em caso de empate, rank baseado na ordem em que aparece na series

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [6]:
s.rank(method='max') # empatados recebem o maior valor do grupo

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [7]:
s.rank(ascending=False)

0    1.5
1    7.0
2    1.5
3    3.5
4    5.0
5    6.0
6    3.5
dtype: float64

In [8]:
df = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})

df

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5

In [9]:
df.rank() # rank colunas

     a    b    c
0  1.5  3.0  2.0
1  3.5  4.0  3.0
2  1.5  1.0  4.0
3  3.5  2.0  1.0

In [10]:
df.rank(axis=1) # rank linhas

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

# Hierarchical Index

# Leitura

# Escrita