TODO

* ver o site do pandas

In [61]:
import pandas as pd
import numpy as np

# Estruturas de dados do pandas

## Series

Lista de dados associados a labels, denominados *index*.

Outra forma de pensar sobre uma Series é que ela é um dicionário ordenado de tamanho fixo.

In [2]:
serie = pd.Series([1, 5, -10, 9])

serie
# labels default [0, N-1]

0     1
1     5
2   -10
3     9
dtype: int64

In [3]:
serie.values

array([  1,   5, -10,   9])

In [4]:
serie.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
serie = pd.Series([1, 5, -10, 9], index=["a", "c", "d", "g"], name="Série legal")

serie.index.name = "letras"

serie

letras
a     1
c     5
d   -10
g     9
Name: Série legal, dtype: int64

In [29]:
serie['g'], type(serie['g'])

(9, numpy.int64)

In [30]:
serie[['a', 'g']], type(serie[['a', 'g']])

(letras
 a    1
 g    9
 Name: Série legal, dtype: int64, pandas.core.series.Series)

In [31]:
serie['g'] = 10

serie

letras
a     1
c     5
d   -10
g    10
Name: Série legal, dtype: int64

In [32]:
'g' in serie

True

#### Instanciando

In [19]:
s = pd.Series({"z": 10, "b": 30}) # ordem natural da key

s

b    30
z    10
dtype: int64

In [20]:
s = pd.Series({"z": 10, "b": 30}, index=['z', 'b'])

s

z    10
b    30
dtype: int64

#### Filtrando

#### Alinhamento

In [21]:
a = pd.Series({"a": 10, "b": 30})
b = pd.Series({"b": 50, "c": 10})

a + b

a     NaN
b    80.0
c     NaN
dtype: float64

## DataFrame

Estrutura similar a um dicionário de Series. Possui tanto um índice para linhas quanto para colunas.

In [80]:
data = {"nome": ["Abelardo", "Juliana", "Rodesbaldo"],
        "idade": [27, 29, 88],
        "profissão": ["Anapropégua", "Médico", "Ditador"]}

df = pd.DataFrame(data)

df
# colunas em ordem natural

   idade        nome    profissão
0     27    Abelardo  Anapropégua
1     29     Juliana       Médico
2     88  Rodesbaldo      Ditador

In [81]:
pd.DataFrame(data, columns=["nome", "idade", "profissão", "salário"], index=["um", "dois", "três"])

            nome  idade    profissão salário
um      Abelardo     27  Anapropégua     NaN
dois     Juliana     29       Médico     NaN
três  Rodesbaldo     88      Ditador     NaN

In [82]:
df.nome

0      Abelardo
1       Juliana
2    Rodesbaldo
Name: nome, dtype: object

In [83]:
df['nome']

0      Abelardo
1       Juliana
2    Rodesbaldo
Name: nome, dtype: object

In [84]:
df.iloc[0] = {"nome": "Josberto", "idade": 99, "profissão": "faz tudo"}

df

  idade        nome  profissão
0  nome       idade  profissão
1    29     Juliana     Médico
2    88  Rodesbaldo    Ditador

In [85]:
df[1:2] # 2 n incluso

  idade     nome profissão
1    29  Juliana    Médico

In [86]:
df[::2]

  idade        nome  profissão
0  nome       idade  profissão
2    88  Rodesbaldo    Ditador

In [87]:
df['random'] = np.random.randn(3)

df

  idade        nome  profissão    random
0  nome       idade  profissão  0.698506
1    29     Juliana     Médico  0.635653
2    88  Rodesbaldo    Ditador -0.482462

In [88]:
salario = pd.Series([0, 20000, 10**7], index = [0, 1, 2])

df['salario'] = salario

df

  idade        nome  profissão    random   salario
0  nome       idade  profissão  0.698506         0
1    29     Juliana     Médico  0.635653     20000
2    88  Rodesbaldo    Ditador -0.482462  10000000

In [89]:
del df['salario']

df

  idade        nome  profissão    random
0  nome       idade  profissão  0.698506
1    29     Juliana     Médico  0.635653
2    88  Rodesbaldo    Ditador -0.482462

In [90]:
df['is_random_gt_0'] = df.random > 0

df

  idade        nome  profissão    random is_random_gt_0
0  nome       idade  profissão  0.698506           True
1    29     Juliana     Médico  0.635653           True
2    88  Rodesbaldo    Ditador -0.482462          False

In [91]:
df.T

                        0         1           2
idade                nome        29          88
nome                idade   Juliana  Rodesbaldo
profissão       profissão    Médico     Ditador
random           0.698506  0.635653   -0.482462
is_random_gt_0       True      True       False

In [42]:
df.loc[lambda row: row.idade > 28]

   idade        nome profissão
1     29     Juliana    Médico
2     88  Rodesbaldo   Ditador