TODO

* ver o site do pandas

In [1]:
import pandas as pd
import numpy as np

# Estruturas de dados do pandas

## Series

Lista de dados associados a labels, denominados *index*.

Outra forma de pensar sobre uma Series é que ela é um dicionário ordenado de tamanho fixo.

In [2]:
serie = pd.Series([1, 5, -10, 9])

serie
# labels default [0, N-1]

0     1
1     5
2   -10
3     9
dtype: int64

In [3]:
serie.values

array([  1,   5, -10,   9])

In [4]:
serie.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
serie = pd.Series([1, 5, -10, 9], index=["a", "c", "d", "g"], name="Série legal")

serie.index.name = "letras"

serie

letras
a     1
c     5
d   -10
g     9
Name: Série legal, dtype: int64

In [6]:
serie['g'], type(serie['g'])

(9, numpy.int64)

In [7]:
serie[['a', 'g']], type(serie[['a', 'g']])

(letras
 a    1
 g    9
 Name: Série legal, dtype: int64, pandas.core.series.Series)

In [8]:
serie['g'] = 10

serie

letras
a     1
c     5
d   -10
g    10
Name: Série legal, dtype: int64

In [9]:
'g' in serie

True

#### Instanciando

In [10]:
s = pd.Series({"z": 10, "b": 30}) # ordem natural da key

s

b    30
z    10
dtype: int64

In [11]:
s = pd.Series({"z": 10, "b": 30}, index=['z', 'b'])

s

z    10
b    30
dtype: int64

#### Filtrando

#### Alinhamento

In [12]:
a = pd.Series({"a": 10, "b": 30})
b = pd.Series({"b": 50, "c": 10})

a + b

a     NaN
b    80.0
c     NaN
dtype: float64

### UFuncs

TODO

In [82]:
a.sum()

40

In [83]:
a.mean()

20.0

In [84]:
a.describe()

count     2.000000
mean     20.000000
std      14.142136
min      10.000000
25%      15.000000
50%      20.000000
75%      25.000000
max      30.000000
dtype: float64

## DataFrame

Estrutura similar a um dicionário de Series. Possui tanto um índice para linhas quanto para colunas.

In [89]:
data = {"nome": ["Abelardo", "Juliana", "Rodesbaldo"],
        "idade": [27, 29, 88],
        "profissão": ["Anapropégua", "Médico", "Ditador"]}

df = pd.DataFrame(data)

df
# colunas em ordem natural

   idade        nome    profissão
0     27    Abelardo  Anapropégua
1     29     Juliana       Médico
2     88  Rodesbaldo      Ditador

In [90]:
df.T

                     0        1           2
idade               27       29          88
nome          Abelardo  Juliana  Rodesbaldo
profissão  Anapropégua   Médico     Ditador

In [14]:
pd.DataFrame(data, columns=["nome", "idade", "profissão", "salário"], index=["um", "dois", "três"])

            nome  idade    profissão salário
um      Abelardo     27  Anapropégua     NaN
dois     Juliana     29       Médico     NaN
três  Rodesbaldo     88      Ditador     NaN

In [15]:
df.nome

0      Abelardo
1       Juliana
2    Rodesbaldo
Name: nome, dtype: object

In [16]:
df['nome']

0      Abelardo
1       Juliana
2    Rodesbaldo
Name: nome, dtype: object

In [17]:
df.iloc[0] = {"nome": "Josberto", "idade": 99, "profissão": "faz tudo"}

df

  idade        nome  profissão
0  nome       idade  profissão
1    29     Juliana     Médico
2    88  Rodesbaldo    Ditador

In [18]:
df[1:2] # 2 n incluso

  idade     nome profissão
1    29  Juliana    Médico

In [19]:
df[::2]

  idade        nome  profissão
0  nome       idade  profissão
2    88  Rodesbaldo    Ditador

In [20]:
df['random'] = np.random.randn(3)

df

  idade        nome  profissão    random
0  nome       idade  profissão  1.072576
1    29     Juliana     Médico  0.225594
2    88  Rodesbaldo    Ditador  0.602420

In [21]:
salario = pd.Series([0, 20000, 10**7], index = [0, 1, 2])

df['salario'] = salario

df

  idade        nome  profissão    random   salario
0  nome       idade  profissão  1.072576         0
1    29     Juliana     Médico  0.225594     20000
2    88  Rodesbaldo    Ditador  0.602420  10000000

In [22]:
del df['salario']

df

  idade        nome  profissão    random
0  nome       idade  profissão  1.072576
1    29     Juliana     Médico  0.225594
2    88  Rodesbaldo    Ditador  0.602420

In [23]:
df['is_random_gt_0'] = df.random > 0

df

  idade        nome  profissão    random is_random_gt_0
0  nome       idade  profissão  1.072576           True
1    29     Juliana     Médico  0.225594           True
2    88  Rodesbaldo    Ditador  0.602420           True

In [24]:
df.T

                        0         1           2
idade                nome        29          88
nome                idade   Juliana  Rodesbaldo
profissão       profissão    Médico     Ditador
random            1.07258  0.225594     0.60242
is_random_gt_0       True      True        True

## Axis

Axis = 0 -> rows

Axis = 1 -> columns

In [25]:
df.drop(0, axis=0) # não inplace
# axis=0 default

  idade        nome profissão    random is_random_gt_0
1    29     Juliana    Médico  0.225594           True
2    88  Rodesbaldo   Ditador  0.602420           True

In [26]:
df.drop("nome", axis=1)

  idade  profissão    random is_random_gt_0
0  nome  profissão  1.072576           True
1    29     Médico  0.225594           True
2    88    Ditador  0.602420           True

In [27]:
nuns = pd.DataFrame(np.arange(9).reshape(3, 3), index=['a', 'b', 'c'], columns=['x', 'y', 'z'])

nuns

   x  y  z
a  0  1  2
b  3  4  5
c  6  7  8

In [28]:
nuns.sum(axis=0) # reduz as linhas

x     9
y    12
z    15
dtype: int64

In [29]:
nuns.sum(axis=1) # reduz as colunas

a     3
b    12
c    21
dtype: int64

## Filtrando

In [30]:
ff = df.copy()
ff.index = ['a', 'b', 'c']
ff['idade'] = np.random.randint(10, 90, size = 3)
ff

   idade        nome  profissão    random is_random_gt_0
a     33       idade  profissão  1.072576           True
b     82     Juliana     Médico  0.225594           True
c     83  Rodesbaldo    Ditador  0.602420           True

In [31]:
ff['idade']

a    33
b    82
c    83
Name: idade, dtype: int64

In [32]:
ff.loc['a', 'idade'] # valor da 'célula'

33

In [33]:
ff.loc['a', ['idade']] # series com nome 'a' e valor correspondente da coluna 'idade'

idade    33
Name: a, dtype: object

In [34]:
ff.loc[['a'], ['idade']] # dataframe

   idade
a     33

In [35]:
ff.loc[['a'], 'idade'] # series com nome 'idade' e valor correspondente para a linha 'a'

a    33
Name: idade, dtype: int64

In [36]:
ff.loc['a', ['idade', 'nome']]

idade       33
nome     idade
Name: a, dtype: object

In [37]:
ff.iloc[1] # series

idade                   82
nome               Juliana
profissão           Médico
random            0.225594
is_random_gt_0        True
Name: b, dtype: object

In [38]:
ff.iloc[[1]] # dataframe

   idade     nome profissão    random is_random_gt_0
b     82  Juliana    Médico  0.225594           True

In [39]:
ff.loc[['a', 'b'], 'idade']

a    33
b    82
Name: idade, dtype: int64

In [40]:
ff.loc[['a', 'b'], ['idade']]

   idade
a     33
b     82

In [41]:
ff

   idade        nome  profissão    random is_random_gt_0
a     33       idade  profissão  1.072576           True
b     82     Juliana     Médico  0.225594           True
c     83  Rodesbaldo    Ditador  0.602420           True

In [42]:
ff.idade < 28

a    False
b    False
c    False
Name: idade, dtype: bool

In [43]:
ff[ff.idade < 28]

Empty DataFrame
Columns: [idade, nome, profissão, random, is_random_gt_0]
Index: []

In [44]:
ff.loc[ff.idade < 28, ::-1]

Empty DataFrame
Columns: [is_random_gt_0, random, profissão, nome, idade]
Index: []

In [45]:
ff

   idade        nome  profissão    random is_random_gt_0
a     33       idade  profissão  1.072576           True
b     82     Juliana     Médico  0.225594           True
c     83  Rodesbaldo    Ditador  0.602420           True

In [46]:
ff.loc['a':'b']

   idade     nome  profissão    random is_random_gt_0
a     33    idade  profissão  1.072576           True
b     82  Juliana     Médico  0.225594           True

In [47]:
ff.loc[:, 'nome':'random']

         nome  profissão    random
a       idade  profissão  1.072576
b     Juliana     Médico  0.225594
c  Rodesbaldo    Ditador  0.602420

In [48]:
ff.loc['a':'b', 'idade'] = 88
ff

   idade        nome  profissão    random is_random_gt_0
a     88       idade  profissão  1.072576           True
b     88     Juliana     Médico  0.225594           True
c     83  Rodesbaldo    Ditador  0.602420           True

In [49]:
ff.iloc[0]

idade                    88
nome                  idade
profissão         profissão
random              1.07258
is_random_gt_0         True
Name: a, dtype: object

In [50]:
ff.iloc[-1]

idade                     83
nome              Rodesbaldo
profissão            Ditador
random               0.60242
is_random_gt_0          True
Name: c, dtype: object

In [51]:
ff.iloc[-3]

idade                    88
nome                  idade
profissão         profissão
random              1.07258
is_random_gt_0         True
Name: a, dtype: object

In [52]:
ff

   idade        nome  profissão    random is_random_gt_0
a     88       idade  profissão  1.072576           True
b     88     Juliana     Médico  0.225594           True
c     83  Rodesbaldo    Ditador  0.602420           True

In [53]:
%%timeit 

ff.get_value('b', 'profissão')

The slowest run took 82.22 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 2.76 µs per loop

In [54]:
%%timeit

ff.loc['b', 'profissão']

10000 loops, best of 3: 146 µs per loop

In [55]:
ff.set_value('b', 'profissão', 'Geriatra')

ff

   idade        nome  profissão    random is_random_gt_0
a     88       idade  profissão  1.072576           True
b     88     Juliana   Geriatra  0.225594           True
c     83  Rodesbaldo    Ditador  0.602420           True

## Aritmética

In [62]:
s1 = pd.Series(np.random.randint(0, 100, 5), index=range(5))
s2 = pd.Series(np.random.randint(-10, 0, 5), index=range(0, 10, 2))

s1+s2

0    75.0
1     NaN
2     1.0
3     NaN
4    49.0
6     NaN
8     NaN
dtype: float64

In [65]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'), 
                   index=['Fortaleza', 'São Paulo', 'Rio de Janeiro'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), 
                   index=['Utah', 'Fortaleza', 'São Paulo', 'Crateús'])

df1

                  b    c    d
Fortaleza       0.0  1.0  2.0
São Paulo       3.0  4.0  5.0
Rio de Janeiro  6.0  7.0  8.0

In [66]:
df2

             b     d     e
Utah       0.0   1.0   2.0
Fortaleza  3.0   4.0   5.0
São Paulo  6.0   7.0   8.0
Crateús    9.0  10.0  11.0

In [67]:
df1+df2
# - * /

                  b   c     d   e
Crateús         NaN NaN   NaN NaN
Fortaleza       3.0 NaN   6.0 NaN
Rio de Janeiro  NaN NaN   NaN NaN
São Paulo       9.0 NaN  12.0 NaN
Utah            NaN NaN   NaN NaN

In [64]:
df1.add(df2, fill_value=0) # usa 0 para missing values em df2
# sub, div, mul, add

                  b    c     d     e
Crateús         9.0  NaN  10.0  11.0
Fortaleza       3.0  1.0   6.0   5.0
Rio de Janeiro  6.0  7.0   8.0   NaN
São Paulo       9.0  4.0  12.0   8.0
Utah            0.0  NaN   1.0   2.0

# DataFrame e Series

In [70]:
df1

                  b    c    d
Fortaleza       0.0  1.0  2.0
São Paulo       3.0  4.0  5.0
Rio de Janeiro  6.0  7.0  8.0

In [76]:
rj = df1.loc['Rio de Janeiro']
rj

b    6.0
c    7.0
d    8.0
Name: Rio de Janeiro, dtype: float64

In [77]:
df1 - rj

                  b    c    d
Fortaleza      -6.0 -6.0 -6.0
São Paulo      -3.0 -3.0 -3.0
Rio de Janeiro  0.0  0.0  0.0

In [79]:
ore = pd.Series(range(3), index=['b', 'd', 'e'])

df1+ore

                  b   c    d   e
Fortaleza       0.0 NaN  3.0 NaN
São Paulo       3.0 NaN  6.0 NaN
Rio de Janeiro  6.0 NaN  9.0 NaN

## Functions

In [91]:
df = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'), index=['DSI', 'DADM', 'DSM', 'DPU'])

df

             a         b         c
DSI  -0.892729 -0.969704  1.243323
DADM -0.417658  0.114161  0.091715
DSM   0.427911  1.041153  0.037443
DPU   1.280182  0.565843 -1.268882

In [85]:
df.apply(lambda x: x.max() - x.min())
# por default reduz axis = 0

a    1.393616
b    1.791672
c    1.032295
dtype: float64

In [86]:
df.apply(lambda x: x.max() - x.min(), axis=1)

DSI     0.533882
DADM    1.137883
DSM     0.492562
DPU     1.287375
dtype: float64

In [87]:
df.apply(lambda x: pd.Series([x.min(), x.max(), x.max() - x.min()], index=['min', 'max', 'range']))

              a         b         c
min   -0.094527 -0.435655  0.098228
max    1.299089  1.356017  1.130523
range  1.393616  1.791672  1.032295

In [94]:
df.applymap(lambda x: "{0:.2f}".format(x)) # dataframe

          a      b      c
DSI   -0.89  -0.97   1.24
DADM  -0.42   0.11   0.09
DSM    0.43   1.04   0.04
DPU    1.28   0.57  -1.27

In [95]:
df.a.map(lambda x: "{0:.2f}".format(x)) # series

DSI     -0.89
DADM    -0.42
DSM      0.43
DPU      1.28
Name: a, dtype: object

## Sorting

In [97]:
s = pd.Series(range(4), index=list('dabc'))

s

d    0
a    1
b    2
c    3
dtype: int64

In [98]:
s.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [99]:
s.sort_values(ascending=False)

c    3
b    2
a    1
d    0
dtype: int64

In [107]:
df = pd.DataFrame(np.arange(12).reshape((3, 4)), index=['três', 'dois', 'sete'], columns=list('dabc'))

df

      d  a   b   c
três  0  1   2   3
dois  4  5   6   7
sete  8  9  10  11

In [108]:
df.sort_index()

      d  a   b   c
dois  4  5   6   7
sete  8  9  10  11
três  0  1   2   3

In [109]:
df.sort_index(axis=1)

      a   b   c  d
três  1   2   3  0
dois  5   6   7  4
sete  9  10  11  8

In [110]:
df.sort_index(axis=1, ascending=False)

      d   c   b  a
três  0   3   2  1
dois  4   7   6  5
sete  8  11  10  9

In [111]:
df.sort_values('a', ascending=False)

      d  a   b   c
sete  8  9  10  11
dois  4  5   6   7
três  0  1   2   3

In [112]:
df.sort_values(['a', 'b'], ascending=False)

      d  a   b   c
sete  8  9  10  11
dois  4  5   6   7
três  0  1   2   3

## Ranking

In [115]:
s = pd.Series([6, -2, 6, 3, 1, 0, 3])

s

0    6
1   -2
2    6
3    3
4    1
5    0
6    3
dtype: int64

In [116]:
s.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [117]:
s.rank(method='first') # em caso de empate, rank baseado na ordem em que aparece na series

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [118]:
s.rank(method='max') # empatados recebem o maior valor do grupo

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [119]:
s.rank(ascending=False)

0    1.5
1    7.0
2    1.5
3    3.5
4    5.0
5    6.0
6    3.5
dtype: float64

In [121]:
df = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})

df

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5

In [123]:
df.rank()

     a    b    c
0  1.5  3.0  2.0
1  3.5  4.0  3.0
2  1.5  1.0  4.0
3  3.5  2.0  1.0

In [124]:
df.rank(axis=1)

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

## Instanciando

## Leitura

## Delete

In [56]:
df

  idade        nome  profissão    random is_random_gt_0
0  nome       idade  profissão  1.072576           True
1    29     Juliana     Médico  0.225594           True
2    88  Rodesbaldo    Ditador  0.602420           True

In [57]:
df.drop(0)

  idade        nome profissão    random is_random_gt_0
1    29     Juliana    Médico  0.225594           True
2    88  Rodesbaldo   Ditador  0.602420           True

In [58]:
df.drop('nome', axis=1)

  idade  profissão    random is_random_gt_0
0  nome  profissão  1.072576           True
1    29     Médico  0.225594           True
2    88    Ditador  0.602420           True

## Escrita

In [59]:
df.loc[lambda row: row.idade > 28]

TypeError: '>' not supported between instances of 'str' and 'int'