# Python 3

* Documentação: https://docs.python.org/3/
   * Standard Library: https://docs.python.org/3/library/index.html
* Cheat sheet: http://www.cs.put.poznan.pl/csobaniec/software/python/py-qrc.html

# Parte 1

* Sintaxe
* Tipos básicos

# Exemplo - Fibonacci

In [1]:
def fibonacci(n):
    
    if n in [0, 1]:
        
        return n
    
    return fibonacci(n - 1) + fibonacci(n - 2)

In [2]:
fibonacci(10)

55

# Algumas diferenças com relação a java

## Declaração de variáveis
Java
```java
    int v = 123;
```
Python
```python
    v = 123
```

## Comentários
Java
```java
// single-line
/* 
multi
line 
*/
```
Python
```python
# single-line
"""
multi
line
"""
```

## Tipos básicos
Java: byte, char, short, int, long, float, double, boolean, String, List, Map ...

Python: int, long, float, complex, str, list, dict ...

## Tipagem dinâmica
O tipo da variável, em Python, é determinado pelo tipo de seu valor, e não o especificado na declaração.

Java
```java
int v = 123;
v = "Oi"; // não compila!
```
Python
```python
v = 123 
v = "Oi" # Ok!
```

## Blocos
Em Python, os blocos são formados por código indentado.

Java
```java
if(x < 10) {
System.out.println("o x é menor que 10");
}
```
Python
```python
if x < 10:
   print("o x é menor que 10")
```

## Funções

Java
```java
class ClasseDaFuncao {
   public static int soma(int a, int b) { 
      return a + b; 
   }
}
```
Python
```python
def soma(a, b):
   return a + b
```

## Operadores numéricos

Mesma coisa, a menos de:
* há o operador \*\*, de potenciação
* o operador de divisão / retorna float; para divisão inteira, utilizar //

## Strings

Mesma coisa: concatenação.

* Length

Java
```java
minha_string.length();
```
Python
```python
len(minha_string)
```

## Operadores booleanos

* && --> and
* || --> or
* ! --> not

## Operadores de comparação

* Mesmos: >, >=, <, <=
* == --> is
* .equals --> == (chama \_\_eq\_\_)

In [13]:
class A:
    
    def __init__(self, x):
        self.x = x
        
    def __eq__(self, other):
        return self.x == other.x
x = A(2)
y = A(2)

In [14]:
x == y

True

In [15]:
x is y

False

<hr />

# Parte 2

* Lista
* Dicionário

# Exemplo - Lista de Fibonacci

In [16]:
def l_fibonacci(ini, fim):
    
    return [fibonacci(i) for i in range(ini, fim + 1)]

In [17]:
l_fibonacci(0, 20)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

# Listas

* https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

## [x, y, z, ...]

In [8]:
# declaração
a = [3, 2, 1]
# comporta itens de tipos diferentes
b = [4, 5, "6"] 
c = list(b) # transforma um iterable em lista, copiando os valores gerados

In [9]:
# add
a.append(100)
a

[3, 2, 1, 100]

In [10]:
# update
a[1] = 66
a

[3, 66, 1, 100]

In [12]:
# remove by value - first occurrence
a.remove(66)
a

[3, 1, 100]

In [13]:
len(a)

3

In [14]:
# remove by index
removido = c.pop(1)
removido, c

(5, [4, '6'])

In [20]:
a.sort() # para sort não inplace -> sorted(a)
a

[1, 3, 100]

In [21]:
l = ["Getting Started with pandas", "olá", "1"]
l.sort(key=lambda s: len(s)) # sort com 'comparator'
l

['1', 'olá', 'Getting Started with pandas']

In [22]:
a.extend(b) # addAll
a

[1, 3, 100, 4, 5, '6']

In [23]:
a + ['c', None] # concatenate

[1, 3, 100, 4, 5, '6', 'c', None]

In [24]:
a[3] # 0-based

4

In [32]:
# indexação negativa 

a[-1] # último elemento

1

In [31]:
a[-2]

3

In [33]:
# indexação com slice

a[0:2] # do primeiro ao segundo

['6', 5]

In [34]:
a[:2]

['6', 5]

In [35]:
a[2:] # a partir do índice 2

[4, 100, 3, 1]

In [38]:
# update com slice

a[0:2] = [99, 88]
a

[99, 88, 4, 100, 3, 1]

In [39]:
a.reverse() # inplace
a

[1, 3, 100, 4, 88, 99]

In [40]:
a[::-1]

[99, 88, 4, 100, 3, 1]

#### List comprehension

**[**(gerado) **if** (condição) **else** (valor caso else) **for** (item) **in** (iterable) **if** (condição) **else** **]**

In [46]:
lista = [1, 2, 3, 4, 5]

[i for i in lista if i < 4] # list comprehension

[1, 2, 3]

In [47]:
[i**2 for i in lista]

[1, 4, 9, 16, 25]

In [50]:
[i if i < 3 else i**2 for i in lista]

[1, 2, 9, 16, 25]

```SQL

SELECT CASE WHEN i < 3 THEN i ELSE POW(i, 2)
FROM lista i
WHERE i < 4
```

In [51]:
[i if i < 3 else i**2 for i in lista if i < 4]

[1, 2, 9]

In [56]:
[(j, i) \
 for j in [1, 2, 3] \
     for i in [4, 5, 6]]

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [59]:
"cambridge"[2] # strings também são iterables

'm'

In [60]:
"cambridge"[::-1]

'egdirbmac'

In [61]:
list("cambridge")

['c', 'a', 'm', 'b', 'r', 'i', 'd', 'g', 'e']

# Dicionários

* https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

In [62]:
a = {"0": [1, 2, 3],
     "b": "olá",
     0: 123}

a

{'0': [1, 2, 3], 'b': 'olá', 0: 123}

In [63]:
a["0"]

[1, 2, 3]

In [66]:
"120" in a

False

In [67]:
a["120"]

KeyError: '120'

In [68]:
a.get("120", "0") # get or default

'0'

In [69]:
a.keys()

dict_keys(['0', 'b', 0])

In [70]:
a.values()

dict_values([[1, 2, 3], 'olá', 123])

In [71]:
del a["0"]
a

{'b': 'olá', 0: 123}

In [78]:
# dict comprehension > mesma ideia de list, diferindo apenas em que o valor não é mais um item, mas um par k:v
{v:k for k,v in a.items()} # dicionário invertido

{'olá': 'b', 123: 0}

# Exercício 1

<hr />

# Parte 3

* String
* Decisão
* Loop
* Funções básicas

## String

In [79]:
a1 = 'Abelardo Vieira Mota' # aspas simples
a2 = "Abelardo Vieira Mota" # aspas
a3 = """r[

    Abelardo 
    Vieira 
    Mota

]""" # três aspas -> multiline

print(a3)

r[

    Abelardo
    Vieira
    Mota

]

In [80]:
oi = "abelardo\tvieira"

print(oi)

abelardo	vieira

In [81]:
oi = r"abelardo\tvieira" # string literal -> caracteres especiais não são interpretados

print(oi)

abelardo\tvieira

In [82]:
a1.lower()

'abelardo vieira mota'

In [83]:
a1.upper()

'ABELARDO VIEIRA MOTA'

In [84]:
a1.split(" ")

['Abelardo', 'Vieira', 'Mota']

In [85]:
"Abelardo" in a1

True

In [86]:
a3.endswith("]")

True

In [87]:
a3.startswith("[")

False

In [88]:
a1.capitalize() # first upper, rest lower

'Abelardo vieira mota'

In [89]:
",".join(["item 1", "item 2", "item 3"])

'item 1,item 2,item 3'

In [91]:
b = "Secretaria de Tecnologia da Informação"

b.replace("Informação", "zoeira") # not inplace

'Secretaria de Tecnologia da zoeira'

In [92]:
a1.zfill(50) # zeros à esquerda

'000000000000000000000000000000Abelardo Vieira Mota'

## Decisão

In [93]:
if 1 == 2: # if
    print("não é")
elif 1 == 3: # elif -> else if
    print("não é também")
else: # else
    print("aí sim!!!!!")

aí sim!!!!!

In [94]:
if 1 < 5 < 10: # encadeamento de operadores
    print("bit win")

bit win

In [96]:
def f(v):
    print(v)
    return v

if f(1) < f(5) < f(10): # ordem de avaliação
    print("hehe")

1
5
10
hehe

In [100]:
# para teste condicional, pode-se usar qualquer valor
# esses são considerados False, os demais True
if any([False, [], 0, (), '', {}, None]):
    
    print("tudo falso")

## Loop

In [101]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [102]:
for i in range(1, 4): # retorna gerador de números de 1 a 4
    print(i)

1
2
3

In [104]:
for i in range(1, 4): # for-else
    print(i)
else:
    print("cabo")

1
2
3
cabo

In [108]:
i = 0
while i <= 10:
    
    i += 1
    
    if 3 < i < 8:
        continue
    if i == 9:
        break
    
    print(i)

1
2
3
8

## Funções básicas

https://docs.python.org/3/library/functions.html

In [112]:
len([1, 2, 3]) # chama __len__ do objeto

3

In [113]:
abs(-1)

1

In [114]:
int("1")

1

In [115]:
float("1.23")

1.23

In [116]:
str(2)

'2'

In [117]:
bool(1)

True

In [118]:
any([True, False, False])

True

In [119]:
all([True, True])

True

In [120]:
max(1, 2, 3)

3

In [121]:
max([1, 2, 3])

3

In [122]:
max(["abe", "vieir", "data mining"], key = len) # função como parâmetro

'data mining'

In [123]:
min(["abe", "vieir", "data mining"], key = len) # função como parâmetro

'abe'

In [124]:
sum([1, 2, 3])

6

In [125]:
# enumerate
e = enumerate([1, 2, 3]) # generator > like iterable do java
e

In [126]:
next(e)

(0, 1)

In [127]:
next(e)

(1, 2)

In [128]:
list(e) # consome o resto - forma de materializar um generator

[(2, 3)]

In [144]:
# filter
list(\
     filter(\
            lambda x: len(x) < 3, 
            ['abe', 'a', 'c']))

['a', 'c']

In [145]:
# map
list(\
     map(\
         len, 
         ["english gramman in use", "c s lewis", "cthulhu"]))

[22, 9, 7]

In [135]:
round(1.7)

2

In [140]:
round(1.55523, 2) # [.5,) -> +1

1.56

In [146]:
# zip
list(\
     zip(\
         [1, 2, 3], 
         [10, 20, 30]))

[(1, 10), (2, 20), (3, 30)]

# Exercício 2 e 3

<hr />

# Parte 4

* Formatação
* Set
* Funções
* Import
* outros

## Formatação

* Guia: https://pyformat.info/

In [147]:
print("oi {}".format(123))

oi 123

In [151]:
print("oi {:.2f}".format(1123.12312312321)) # decimal, 2 casas

oi 1123.12

In [152]:
print("{} {}".format(10, 20)) # posicional

10 20

In [153]:
print("{:010d}".format(1234)) # 0s à esquerda

0000001234

In [154]:
print("{0} {1} {0} {1}".format("oi", "xau")) # indexado

oi xau oi xau

In [166]:
print("{0:->10}\n{0:x<10}\n{0:'>10}\n{0:<10}".format("oi")) # tamanho 10, alinhado para a direita/esquerda

--------oi
oixxxxxxxx
''''''''oi
oi

In [167]:
print("{:10}{:10}".format("abelardo", "computação"))
print("{:10}{:10}".format("joão", "física"))
print("{:10}{:10}".format("xica", "medicina"))

abelardo  computação
joão      física
xica      medicina

## Set

https://docs.python.org/3/library/stdtypes.html#set

In [170]:
a = set([1,2,3,2])

a

{1, 2, 3}

In [171]:
3 in a

True

In [175]:
a.intersection([2,3,4]) # param -> iterable

{2, 3}

$$A\cup B$$

In [176]:
a.union([4, 5, 6, 2]) # A U B

{1, 2, 3, 4, 5, 6}

$$A - B$$

In [177]:
a.difference([4, 5, 6, 2]) # A - B

{1, 3}

$$A = A - B$$

In [179]:
a.difference_update([4, 5, 6, 1]) # A = A - B

a

{2, 3}

$$A\cap B == \emptyset$$

In [59]:
a.isdisjoint([4, 5, 6]) # A ∩ B

True

$$A\subseteq B$$
$$A\supseteq B$$

In [180]:
a.issubset([1, 2, 3, 4]) # issuperset

True

$$A - \{x\}$$

In [61]:
a.remove(3)

a

{2}

$$A = A\cup B$$

In [62]:
a.update([2, 66]) # a = a U b

a

{2, 66}

$$(A - B) \cup (B - A)$$

In [63]:
a.symmetric_difference([2, 3])

{3, 66}

## Funções

In [182]:
# keywords def e return
def soma(a, b):
    
    return a + b

In [183]:
# argumentos passados por referência
a = {1:1, 2:2}

def incrementa(d, k):
    
    d[k] = d.get(k, 0) + 1
    
incrementa(a, 1)
a

{1: 2, 2: 2}

In [188]:
soma(b = 10, a = 5) # named args

15

In [189]:
def decrementa(x, n = 1): # default arg
    
    return x - n

decrementa(10)

9

In [191]:
def soma_tudo(*args): # var args
    
    return sum(args)

soma_tudo(1, 2, 3)

6

In [193]:
def el_dict(**kwargs): # var kwargs
    
    return kwargs

el_dict(a = 1, b = 2, c = 3)

{'a': 1, 'b': 2, 'c': 3}

In [194]:
soma(**{'a': 2, 'b': 3}) # why?!

5

In [197]:
# usado, por exemplo, na passagem de muitos parâmetros
# ex: https://github.com/abevieiramota/dataset-remuneracao-federal/blob/master/make_dataset.py
# el_dict(param1 = 1, param2 = 2, param3 = 3, param4 = 4, param5 = 5)

params = {"param1": 1, 
          "param2": 2, 
          "param3": 3, 
          "param4": 4, 
          "param5": 5}

el_dict(**params)

{'param1': 1, 'param2': 2, 'param3': 3, 'param4': 4, 'param5': 5}

In [198]:
# funções como objetos
def aplica(v, f):
    
    return f(v)

aplica("secretaria de tecnologia da informação", len)

38

In [203]:
# lambda > funções anônimas
f = lambda x: len(x)

aplica("the python standard library by example", f)

38

In [204]:
aplica("the python standard library by example", lambda x: len(x) + 10)

48

## Import

In [205]:
import string

string.capwords("juliana do nascimento")

'Juliana Do Nascimento'

In [206]:
from string import capwords

capwords("tereza madalena")

'Tereza Madalena'

In [207]:
from string import capwords as capitaliza_tudo

capitaliza_tudo("interchange full contact")

'Interchange Full Contact'

In [208]:
from string import capwords, ascii_letters, digits # recomendado, por legibilidade, um import por linha

In [209]:
from string import * # recomendado import explícito

# Outros

In [212]:
# swap

a, b = 10, 20

a, b = b, a

print(a, b)

20 10

In [213]:
from collections import defaultdict

d = defaultdict(int)

d[10]

0

In [214]:
from collections import Counter
import numpy as np

c = Counter(np.random.randint(0, 100, 2000))

c.most_common(10)

[(4, 30),
 (62, 29),
 (19, 29),
 (50, 28),
 (89, 27),
 (55, 27),
 (92, 26),
 (98, 26),
 (53, 26),
 (68, 26)]

In [215]:
from collections import OrderedDict

o = OrderedDict()

o['b'] = 100
o['a'] = 200

o

OrderedDict([('b', 100), ('a', 200)])

In [216]:
def make_fib_gen():
    
    n1 = 0
    n2 = 1
    while True:
        yield n1
        n1, n2 = n2, n1+n2
        
fib_gen = make_fib_gen()

next(fib_gen)

0

In [217]:
next(fib_gen)

1

In [218]:
list(\
     map(\
         lambda x: next(fib_gen), 
         range(1, 10)))

[1, 2, 3, 5, 8, 13, 21, 34, 55]

In [219]:
list(\
     map(\
         lambda x: next(fib_gen), 
         range(1, 10)))

[89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [220]:
x = (i**2 for i in range(1, 10))

next(x)

1

In [221]:
next(x)

4

In [222]:
a, b, c = [1, 2, 3] # unpacking

a

1

In [223]:
a, *b, c = [1, 2, 3, 4, 5, 6]

b

[2, 3, 4, 5]

In [224]:
d = {"nome": "abelardo",
     "idade": 27,
     "profissão": "analista de TI"}

dict(\
     zip(\
         d.values(), 
         d.keys()))

{'abelardo': 'nome', 27: 'idade', 'analista de TI': 'profissão'}

In [225]:
import heapq

heapq.nsmallest(10, np.random.normal(0, 2, size=(100)))
# nlargest

[-5.6330608651410419,
 -5.0060630637706849,
 -4.576072206703917,
 -3.5796154599236538,
 -3.5085596301907622,
 -3.2382414357840066,
 -3.1068522872323729,
 -3.0760128285162955,
 -3.0546581569527844,
 -3.0390701239135396]

In [227]:
import itertools

for x, y in itertools.product(\
                              [1, 2], 
                              [3, 4, 5]):
    
    print(x, y)

1 3
1 4
1 5
2 3
2 4
2 5

In [228]:
from functools import partial

def soma(a, b):
    
    return a + b

soma2 = partial(soma, b = 2)

soma2(10)

12

## Zen do Python

* Exemplos: https://gist.github.com/evandrix/2030615

In [230]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Exercício 4