Crie o dataset com dados da UFC executando:
    
python make_dataset.py UFC

In [21]:
%run ../configura_display.py
%run ../../dataset-bolsas-cnpq/read_dataset.py
%matplotlib inline

import numpy as np
import pandas as pd

cnpq = read_cnpq()

map_columns = {'ANO-PAGAMENTO': 'ano',
 'CODIGO-DO-PROCESSO': 'codigo',
 'MODALIDADE-DO-PROCESSO': 'modalidade',
 'NATUREZA-JURIDICA': 'natureza_juridica',
 'NOME-COMPLETO': 'nome',
 'NOME-CURSO': 'curso',
 'NOME-DA-AREA-DO-CONHECIMENTO': 'area_conhecimento',
 'NOME-DA-ESPECIALIDADE': 'especialidade',
 'NOME-DA-SUB-AREA-DO-CONHECIMENTO': 'sub_area_conhecimento',
 'NOME-GRANDE-AREA-DO-CONHECIMENTO': 'grande_area_conhecimento',
 'NRO-ID-CNPQ': 'id_bolsista',
 'PAIS-INSTITUICAO': 'pais_instituicao',
 'PAIS-NASCIMENTO': 'pais_nascimento',
 'QUANTIDADE-BOLSA-ANO': 'qtd_bolsa_ano',
 'QUANTIDADE-MESES-PAGOS': 'qtd_meses_pagos',
 'SEXO': 'sexo',
 'SIGLA-INSTITUICAO': 'sigla_instituicao',
 'SIGLA-UF-INSTITUICAO': 'uf_instituicao',
 'TITULO-DO-PROCESSO': 'titulo_bolsa',
 'VALOR-PAGO': 'valor_total'}

# renomeando colunas
# df.rename_axis(map_antigo_novo, axis=axis_onde_mudar)
# axis = 1 -> columns
cnpq = cnpq.rename_axis(map_columns, axis=1)

# Exercício 1

## 1 - Verifique se há registros com o seu nome

## 2 - Calcule a porcentagem de bolsas por ano com relação ao total

ex:

2010 -> 30

2011 -> 30

2012 -> 40

resultado esperado:

2010 -> 0.3 = 30 / 100

2011 -> 0.3

2012 -> 0.4

## 3 - Plote a quantidade de bolsas por ano em um gráfico de barras

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.bar.html

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.barh.html

## 4 - Concatene os seguintes dataframes

In [10]:
df1 = pd.DataFrame(np.arange(0, 10).reshape(2, 5))
df2 = pd.DataFrame(np.arange(20, 30).reshape(2, 5))

df1

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [11]:
df2

   0  1  2  3  4
0 20 21 22 23 24
1 25 26 27 28 29

### Unindo as linhas

### Unindo as colunas

<hr />

# Exercício 2

## 1 - Encontre os registros do bolsista com maior número de ocorrências no dataset

## 2 - Plote um histograma da quantidade de registros por bolsista

## 3 - Gere um dataset contendo:

* Nas linhas, o ano
* Colunas "leq_6" e "gt_6" indicando, respectivamente, a quantidade de registros naquele ano cujo valor em qtd_bolsa_ano é menor ou igual a 6, e a quantidade que é maior que 6

Dica: utilizar pivot_table informando:

* para index 'ano'
* para coluna uma series informando se o registro tem qtd_bolsa_ano <= .5
   * ver no notebook da aula
* para aggfunc 'size'

<hr />

# Exercício 3

Dado a Series x, calcular a quantidade de ocorrência de valores nos seguintes intervalos:

* (0.0, 10.0]
* (10.0, 50.0]
* (50.0, 1000.0]
* (1000.0, 1200.0]

In [9]:
x = pd.Series(np.random.uniform(0, 1500, size=2000))

x.head()

0    685.992336
1    704.821669
2    624.375625
3    996.616194
4    402.870333
dtype: float64

<hr />

# Exercício 4

## 1 - Encontre o registro com maior valor_total

## 2 - Encontre o registro com menor valor_total

## 3 - Plot a soma de valor_total por grande_area_conhecimento - usar barra horizontal

## 4 - Encontre o bolsista mais antigo(considerando a diferença entre o maior e o menor ano em que recebeu bolsa)

## 5 - Encontre o bolsista que recebeu bolsa na maior quantidade de anos

## 6 - Plot a soma de qtd_meses_ano por ano e modalidade 

* usar plot line
* usar apenas as modalidades
   * Iniciação Científica/PIBIC
   * Mestrado
   * Doutorado
   * Iniciação Científica
   * Pós-Doutorado

## 7 - Defina duas questões a serem respondidas com dados desse dataset